
@{
    ViewBag.Title = "Clase";
}

<div class="py-5 col-md-12">
    <div class="row py-5 justify-content-center">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="text-center py-4">
                <h4 class="display-6">Agregar Clase</h4>
            </div>

        </div>
    </div>
</div>

