
@{
    ViewBag.Title = "Nueva Tipo Encuesta";
    var usuario = HttpContext.Current.Session["Usuario"] as dynamic;

    if (usuario == null || usuario.id_tipo_usu != 1)
    {
        // Redirigir al usuario a la página deseada cuando no hay usuario o no es administrador ni instructor
        Response.RedirectToRoute(new { controller = "Home", action = "Index" });
        Response.End();
    }
}

<div class="py-5 col-12">
    <div class="row justify-content-center">
        <form class="card col-8" method="post" enctype="multipart/form-data">
            <!--  Titulo  -->
            <div class="text-center py-4">
                <h4 class="display-6">Agregar Tipo Encuesta</h4>
            </div>

            <!--  NOMBRE DEL Tipo encuesta  -->
            <div class="row g-2">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="form-floating mb-4">
                        <input type="text" class="form-control" name="p_nom" value=""pattern="[A-Za-z0-9áéíóúÁÉÍÓÚüÜñÑ\s]+" title="Solo se permiten letras del español y números" required>
                        <label for="p_nom">Nombre Tipo Encuesta</label>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
            <!--  Enviar informacion  -->
            <div class="py-3"></div>
            <button class="btn btn-danger mb-4" type="submit">Agregar Tipo encuesta</button>
        </form>
    </div>
</div>

