
@{
    ViewBag.Title = "Nuevo Cinturon";
    var usuario = HttpContext.Current.Session["Usuario"] as dynamic;

    if (usuario == null || usuario.id_tipo_usu != 1)
    {
        // Redirigir al usuario a la página deseada cuando no hay usuario o no es administrador ni instructor
        Response.RedirectToRoute(new { controller = "Home", action = "Index" });
        Response.End();
    }
}

<div class="py-5 col-12">
    <div class="row justify-content-center">
        <form class="card col-8" method="post" enctype="multipart/form-data">
            <!--  Titulo  -->
            <div class="text-center py-4">
                <h4 class="display-6">Agregar Cinturon</h4>
            </div>

            <!--  NOMBRE DEL Cinturon -->
            <div class="row g-2">
                <div class="col-6">
                    <div class="form-floating mb-4">
                        <input type="text" class="form-control" name="p_nombre" pattern="^[a-zA-ZáéíóúÁÉÍÓÚüÜñÑ0-9\s]+$" title="Solo se permiten letras, números y espacios" required>
                        <label for="p_nombre">Nombre del cinturón</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-4">
                        <input type="text" class="form-control" name="p_color" pattern="^[a-zA-ZáéíóúÁÉÍÓÚüÜñÑ0-9\s]+$" title="Solo se permiten letras, números y espacios" required>
                        <label for="p_color">Color del cinturón</label>
                    </div>
                </div>
            </div>

            <!--  Enviar informacion  -->
            <div class="py-3"></div>
            <button class="btn btn-danger mb-4" type="submit">Agregar Cinturon</button>
        </form>
    </div>
</div>

