@{ ViewBag.Title = "Home"; }

<!--  mapa temporal  -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<!-- Agrega la biblioteca Leaflet -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>


<!-- Carrusel Principal -->
<div id="carouselPrincipal" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselPrincipal" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselPrincipal" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner row" style="background-color: black; height: 600px;">

        <div class="carousel-item active col align-self-center">
            <img src="~/Img/Publicidad/Shihan.jpg" class="img-fluid justify-content-between align-self-center mx-auto d-block" style="max-height: 600px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Bienvenidos a Valdivia Dojo</h5>
                <p>
                    Valdivia Dojo forma parte de KWU Senshi Chile Valdivia Group, una prestigiosa organización de karate reconocida por el Ministerio del Deporte.
                    Con más de 40 dojos distribuidos en todo el país, nos enorgullece ofrecer un entorno donde alumnos de todas las edades y niveles pueden cultivar su pasión por el karate y alcanzar sus metas deportivas.
                </p>
            </div>
        </div>

        <div class="carousel-item col align-self-center">
            <img src="~/Img/Publicidad/image.png" class="img-fluid justify-content-between align-self-center mx-auto d-block" style="max-height: 600px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Nuestras Clases</h5>
                <p>
                    Explora nuestra variedad de clases de karate diseñadas para todas las edades y niveles.
                    Ya sea que seas un principiante que busca desarrollar confianza y habilidades físicas, o un competidor experimentado que busca perfeccionar su técnica,
                    nuestras clases están diseñadas para desafiarte y ayudarte a alcanzar tu máximo potencial en un ambiente de apoyo y camaradería.
                    Únete a nosotros y mejora tus técnicas y rendimiento.
                </p>
            </div>
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPrincipal" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselPrincipal" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Contenido -->
<div class="container-fluid body-content">
    <!-- Informacion -->
    <section class="py-5 row position-relative">
        <div class="col-5 p-4 ps-md-0">
            <img src="~/Img/Publicidad/logo.jpeg" class="img-fluid justify-content-between align-self-center mx-auto d-block" />
        </div>
        <div class="col-6 p-4 ps-md-0">
            <p class="lead">
                Kwu Senshi Chile Valdivia Group, con más de 40 dojos a lo largo de nuestro país, es hoy una de las organizaciones más grande del territorio nacional.
                Legalmente constituida como la Federación Chilena de karate de contacto Kwu Senshi Chile Valdivia Group, reconocida por el Ministerio del Deporte.
                Entre sus filas cuenta con competidores y campeones que han participado y obteniendo podeos en torneo internacionales, los que se ven reflejados en ranking mundial en sus respectivas categorías.
                Kwu Senshi Chile Valdivia Group, cuenta con Shihanes, Senseis y Senpais con años de experiencia en la práctica y formación de esta disciplina, otorgando respeto, prestigio y calidad a sus alumnos.
                Únete a Kwu Senshi Chile Valdivia Group y sé parte de la Federación Chilena de Karate de Contacto.
            </p>
        </div>
    </section>
    <!--  Comentarios  -->

    <section class="container-fluid marketing py-5">
        <h1 class="display-6 text-center">Como ha sido la experiencia en nuestro dojo</h1>
        <div class="row">
            <div class="offset-md-1 col-md-10">
                @if (ViewBag.comentario != null && ViewBag.comentario.Count > 0)
                {
                    <div id="carouselComentario" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @for (int i = 0; i < ViewBag.comentario.Count; i += 3)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <div class="row">
                                        @for (int j = i; j < i + 3 && j < ViewBag.comentario.Count; j++)
                                        {
                                            var comentario = ViewBag.comentario[j];
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <div class="card text-center mb-1 py-3">
                                                    <div class="glyphicon-align-justify">
                                                        <img class="bd-placeholder-img rounded-circle" width="100" height="100" src="@Url.Content(comentario.IMG_USU)" alt="Alternate Text" />
                                                        <!-- Tu imagen o contenido específico del comentario -->
                                                    </div>
                                                    <div class="card-body px-3">
                                                        <div class="py-3">
                                                            @for (int star = 0; star < 5; star++)
                                                            {
                                                                if (star < comentario.VALORACION)
                                                                {
                                                                    <i class="fa-solid fa-star"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="fa-regular fa-star"></i>
                                                                }
                                                            }
                                                        </div>
                                                        <h5 class="card-title">@comentario.nombre</h5>
                                                        <p class="card-text">@comentario.COMENTARIO</p>

                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselComentario" data-bs-slide="prev">
                            <i class="fa-solid fa-chevron-left text-dark"></i> <!-- Ícono izquierdo -->
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselComentario" data-bs-slide="next">
                            <i class="fa-solid fa-chevron-right text-dark"></i> <!-- Ícono derecho -->
                        </button>
                    </div>
                }
                else
                {
                    <p class="lead text-center">Lo sentimos, de momento no se han encontrado comentarios disponibles</p>
                }
            </div>
        </div>
    </section>
    <!-- Mapa -->
    <section class="py-5">
        <div class="row g-0 position-relative">
            <div class="col-md-6 mb-md-0 p-md-4">
                <!--
                    <div id="map" style="height: 200px; width: 100%;" class="rounded"></div>
                    -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53196.840040589406!2d-70.60548982567224!3d-33.5585073219654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d6d1fcbce491%3A0x195236a76da4c15d!2sHombu%20Dojo%20W.K.B!5e0!3m2!1ses!2scl!4v1702331799274!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
            <div class="col-md-6 p-4 ps-md-0 align-self-center text-center">
                <h1 class="display-6">¿Dónde estamos ubicados?</h1>
                <p class="lead">Encuéntranos en Los Toros 1932, Puente Alto, Región Metropolitana, Chile. ¡Ven a visitarnos y forma parte de nuestra comunidad!</p>
            </div>
        </div>
    </section>

</div>




<!-- Script para el mapa -->
<script>
    // Inicializa el mapa en las coordenadas
    var map = L.map('map').setView([-33.56681893706893, -70.56208057745127], 15);

    // Añade una capa de mapa de OpenStreetMap
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Añade un marcador en las coordenadas
    L.marker([-33.56681893706893, -70.56208057745127]).addTo(map)
        .bindPopup('Mi Ubicación Fija').openPopup();
</script>
