@{ ViewBag.Title = "Iniciar Sesión"; }

<div class="py-5 col-md-12">
    <div class="row py-5 justify-content-center">
        <form class="card col-md-4" method="post" enctype="multipart/form-data">
            <div class="text-center py-4">
                <h4 class="display-6">Iniciar Sesión</h4>
            </div>

            <div class="form-floating mb-4">
                <input type="email" class="form-control" name="p_correo" placeholder="nombre@ejemplo.com" required>
                <label for="p_correo">Correo</label>
            </div>

            <div class="form-floating mb-4">
                <input type="password" class="form-control" name="p_pass" placeholder="Contraseña" required>
                <label for="p_pass">Contraseña</label>
            </div>

            <div class="py-3"></div>
            <button class="btn btn-danger mb-4" type="submit">Ingresar</button>
        </form>
    </div>

</div>
