
@{
    ViewBag.Title = "Confirmacion Compra";
}

<div class="col-md-12">
    <div class="row justify-content-center py-5">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="d-flex flex-row justify-content-center alig-items-center">
                <img src="~/Img/confirmacion.png" height="60px" width="60px" />
            </div>
            <h2 class="d-flex flex-row justify-content-center alig-items-center">
            Felicitaciones, su compra se realizo con exito
            </h2>
        </div>
        <div class="col-3"></div>
    </div>

</div>


    