
@{
    ViewBag.Title = "Pago";
}
<div class="col-md-12">
    <div class="row justify-content-center py-3">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    Proceso de pago
                </div>
                <div class="card-body">
                    <p class="card-text">Total a pagar</p>
                    <h5 class="card-title">$9990</h5>
                    <form>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <a class="nav-item">@Html.ActionLink("Pagar", "ConfirmacionCompra", "Compra", null, new { @class = "btn btn-danger me-2" })</a>
                    </form>
                </div>
                <div class="card-footer text-body-secondary">
                    
                </div>
            </div>
            
        </div>
        
        <div class="col-3"></div>
    </div>
    
</div>



