@{
    ViewBag.Title = "TipoUsuario";
}
<style>
    /* Oculta todos los formularios por defecto */
    #AgregarFormulario,
    #EliminarFormulario,
    #ModificarFormulario {
        display: none;
    }
</style>

<div class="py-5 col-12">
    <div class="row justify-content-center">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="text-center py-4">
                <h4 class="display-6">Administrar tipos de usuario</h4>
            </div>
            <div class="container py-2 row justify-content-center">
                <button class="btn btn-primary col-3 me-2" type="button" onclick="mostrarFormulario('Agregar')">Agregar</button>
                <button class="btn btn-primary col-3 me-2" type="button" onclick="mostrarFormulario('Eliminar')">Eliminar</button>
                <button class="btn btn-primary col-3 me-2" type="button" onclick="mostrarFormulario('Modificar')">Modificar</button>
                <button class="btn btn-primary col-3 me-2" type="button" onclick="mostrarFormulario('Listar')">Listar</button>
            </div>

            <!--  AGREGAR  -->
            <div class="py-5" id="AgregarFormulario">
                <div class="card card-body">
                    <h3 class="py-4 display-6">Nuevo tipo de usuario</h3>
                    <form class="row g-4 align-items-center" method="post">
                        <!--Nombre Tipo Usuario-->
                        <div class="col-3">
                            <label for="nomtipo" class="col-form-label">Nombre del tipo usuario</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="nomtipo" class="form-control" aria-describedby="" placeholder="">
                        </div>
                    </form>
                </div>
            </div>

            <!--  ELIMINAR  -->
            <div class="py-5" id="EliminarFormulario">
                <div class="card card-body">
                    <h3 class="py-4 display-6">Eliminar tipo de usuario</h3>
                    <div class="d-flex mb-4">
                        <input class="form-control me-2" type="search" placeholder="Buscar Tipo de usuario" aria-label="Search">
                        <button class="btn btn-outline-danger" type="submit">Buscar</button>
                    </div>
                </div>
            </div>

            <!--  MODIFICAR  -->
            <div class="py-5" id="ModificarFormulario">
                <div class="card card-body">
                    <h3 class="py-4 display-6">Modificar tipo de usuario</h3>
                    <div class="d-flex mb-4">
                        <input class="form-control me-2" type="search" placeholder="Buscar Tipo de usuario" aria-label="Search">
                        <button class="btn btn-outline-danger" type="submit">Buscar</button>
                    </div>
                </div>
            </div>
            <!--  Listar  -->
            <div class="py-5" id="ListarFormulario">
                <div class="card card-body">
                    <h3 class="py-4 display-6">Listar tipo de usuario</h3>
                    <div class="d-flex mb-4">
                        <input class="form-control me-2" type="search" placeholder="Buscar Tipo de usuario" aria-label="Search">
                        <button class="btn btn-outline-danger" type="submit">Buscar</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-3"></div>
    </div>
</div>

<script>
    function mostrarFormulario(formulario) {
        // Ocultar todos los formularios
        document.getElementById('AgregarFormulario').style.display = 'none';
        document.getElementById('EliminarFormulario').style.display = 'none';
        document.getElementById('ModificarFormulario').style.display = 'none';
        document.getElementById('ListarFormulario').style.display = 'none';
        // Mostrar el formulario deseado
        document.getElementById(`${formulario}Formulario`).style.display = 'block';
    }
</script>
